.highlight {
  background: rgba(245, 34, 45, 0.03);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.compact-table .ant-table-cell {
  padding: 5px;
  font-size: 14px;
}

.compact-table .ant-table-thead > tr > th {
  padding: 5px;
  font-size: 14px;
}

.tooltip-label {
  font-weight: 500;
  margin-bottom: 2px;
}

.tooltip-value {
  font-style: italic;
  font-weight: 400;
}