.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}
.fade-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.page-change-enter {
  opacity: 0;
}
.page-change-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.page-change-exit {
  opacity: 1;
}
.page-change-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
